*{

    margin-left: 0px;
    padding: 0px;
     
}

@font-face {
    font-family: 'ralewaythin';
    src: url('font/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('font/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ralewaythin';
}

        /* HEADER */
#logo {
    width: 150px;
    margin-left: 50px;
}

        /* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.navbar_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    
}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    color:#0065FC;
    
   

}
.item2 {
    color:black;
  
}

.item3 {
    color: #0065FC;
    font-weight: bold;
  
}

.navsize {
    width: 140px;
    height: 99px;
    
}

.navborder{
    border-top: 1px solid #0065FC;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 25px;
}

.marginleft{
    margin-left: 45px;
}

.marginright{
    margin-right: 45px;
}
    /* SEARCH BAR */

.search_bar {
    display: flex;
    justify-content: left;
    width: 400px;
    border-radius: 10px;  
}

.rechercher{
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px #F2F2F2;
    
}

.iconsize{
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    
}

.bordernone{
    border: none;
}

.paddingsearch{
    padding-left: 20px;
}

.buttonsearch{
    width: 120px;
    height: 50px;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

    /* FILTRES */

.filtres{
    display: flex;
    align-items: center;
}

.margefiltres {
    margin-top: 50px;
    margin-bottom: 40px;
}

.margetitrefiltres {
    margin-right: 20px;
}

.boutonsfiltres {
    border: 2px solid whitesmoke;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
}

.icones {
    border-radius: 25px;
    height: 52px;
    width: 52px;
    color: #0065FC;
    background-color: #DEEBFF;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boutons:hover {
    background-color: #0065FC;
}

.icones:hover {
    background-color: #0065FC;
}

.txtpadding {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}


    /* INFORMATION */

.info{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 1px;
}

.blue{
    color: #0065FC;
}

.grey{
    color: #F2F2F2;
}

.bkgicone{
    width: 20px;
    height: 20px;
    border: 2px solid #DEEBFF;
    border-radius: 25px;
    margin-right: 5px;
}


    /* SECTION 1 Hébergement */

.flexaround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sizehebergements{
    flex: 2;
    height: 800px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
}

.sizepopulaires{
    flex: 1;
    height: 800px;
    margin-left: 20px;
    border-radius: 25px;
}

.backgrdgrey{
    background-color: #F2F2F2;
}

.blocHebergement{
    padding-left: 40px;
    padding-right: 40px;
}

.imghebergement1{
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imghebergement2{
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imghebergement3{
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imghebergement4{
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imghebergement5{
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imghebergement6{
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.flexcolumncenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexcolumnaround{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.flexcolumnbetween{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cardbackground1{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 7px;
    border-radius: 20px;  
    box-shadow: 5px 5px 5px 3px #F2F2F2; 
}

.bloc1{
    margin-bottom: 10px;
}

.bloc2{
    margin-top: 10px;
}

.cubedetailshebergements{
    width: 90%;
}

.textegras{
    font-weight: bolder;
}

    /* POPULAIRES*/

.imgpopulaires1 {
    background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

.blocpopulaires{
    padding-left: 20px;
    padding-right: 20px;
}

.paddingtop{
    padding-top: 20px;
}

.blocpopulaires1_2{
    margin-bottom: 22px;
}
.cardbkgpopulaires{
    background-color: white;
    height: auto;
    padding: 7px;
    border-radius: 20px;
}

.cubedetailspopulaires{
    width: 60%;
    padding-left: 10%;
}

.imgpopulaires2 {
    background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}


.imgpopulaires3 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
    /* SECTION 2 Activités */

.activites{
    margin-top: 50px;
    margin-bottom: 50px;
}

.blocactivites{
    width: 100%;
    height: 600px;
}

.cubeactivites{
    width: 20%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}

.hauteuretitre{
    height: 70px;
}

.titreactivites{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}

.imgactivites1{
    background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}

.imgactivites2{
    background-image: url("./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}

.imgactivites3{
    background-image: url("./images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.cubeactivites2_3_5_6{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}

.blocactivites2_3_5_6{
    width: 23%;
    height: 600px;
}

.imgactivites4{
    background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}

.imgactivites5{
    background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.imgactivites6{
    background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

    /* FOOTER */

.footer{
    height: 280px;
    margin-top: 150px;
    margin-bottom: 0px;
}

.tailleblocfooter{
    height: 150px;
}

.margeblocfoot1{
    margin-left: 45px;
}

.margeblocfoot3{
    margin-right: 30%;
}

